@import "_global_variables";
@import "_genres";
@import "_video-lists";
@import "_selected-video.scss"; /* possibly lazy load since not displayed on page load */

* {
    box-sizing: border-box;
}

html, body {

}

body { 
    background: $app-background-color;
    color: #eee;
    overflow: hidden;
}

